/*
Theme Name:   storefront child
Template:     storefront

*/
.storefront-breadcrumb,.menu-toggle{
	visibility:hidden;
}


.woocommerce-products-header__title{
	color:white
}


.site-footer,.site-header{
	background-color:black;
}
.woocommerce-loop-product__title{
 color:white;
}

.shadowbox1{
-webkit-box-shadow: -9px -2px 121px -22px rgba(12,51,150,1);
-moz-box-shadow: -9px -2px 121px -22px rgba(12,51,150,1);
box-shadow: -9px -2px 121px -22px rgba(12,51,150,1);
background-color: #1f1f1f;
}

.shadowbox{
-webkit-box-shadow: -5px 10px 41px -26px rgba(12,51,150,1);
-moz-box-shadow: -5px 10px 41px -26px rgba(12,51,150,1);
box-shadow: -5px 10px 41px -26px rgba(12,51,150,1);
background-color:rgba(0, 0, 0, 0.9)
}

.product{
	-webkit-box-shadow: -5px 10px 41px -26px rgba(12,51,150,1);
-moz-box-shadow: -5px 10px 41px -26px rgba(12,51,150,1);
box-shadow: -5px 10px 41px -26px rgba(12,51,150,1);
background-color:rgba(0, 0, 0, 0.9)
}



.storefront-sorting{
	visibility:hidden;
}

.nf-form-title {
	text-align:center; 
}
